<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>About JUNKI | 潤希 | RUNXI DENG</title>
    <!-- font icons -->
    <link rel="stylesheet" href="../static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Steller main styles -->
    <link rel="stylesheet" href="../static/assets/css/steller.css">
    <link rel="shortcut icon" href="../static/assets/favicon.ico" type="image/x-icon">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3>junki</h3>
                <!-- <img class="left-top-logo" src="assets/imgs/JUNKI.png" alt=""> -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#cs">CS & Development</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#design">Industrial & Graphic Design</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#photography">Photography</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience & Skill</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="title">
                    <span class="kanji-wrapper">
                        <span class="subtitle kanji1">ジュン</span>
                        潤
                    </span>
                    <span class="kanji-wrapper">
                        <span class="subtitle kanji2">キ</span>
                        希
                    </span>
                    <span class="kanji-wrapper">
                        で
                    </span>
                    <span class="kanji-wrapper">
                        す
                    </span>
                </h6>
                <br>
                <p>ソフトウェア開発エンジニア</p>
                <div class="buttons pt-3">
                    <a href="../static/assets/cv/応募書類_鄧潤希（トウジュンキ）.zip" download>
                        <button class="btn btn-primary rounded">書類をダウンロード</button>
                    </a>
                    <a href="../static/assets/cv/RunxiDENG_Resume.pdf" download>
                        <button class="btn btn-dark rounded">DOWNLOAD CV</button>
                    </a>
                </div>

                <div class="socials mt-4">
                    <a class="social-item" target="_blank" href="https://www.linkedin.com/in/junki2023"><i
                            class="ti-linkedin"></i></a>
                    <a class="social-item" target="_blank" href="https://github.com/Junki00"><i
                            class="ti-github"></i></a>
                    <a class="social-item" target="_blank" href="https://x.com/uruoikibou"><i
                            class="ti-twitter"></i></a>
                </div>
            </div>
            <div class="img-holder">
                <img src="../static/assets/imgs/自创logo2.svg" alt="">
            </div>
        </div>

        <!-- Header-widget -->
        <div class="widget">
            <div class="widget-item">
                <h2>JLPT N1</h2>
                <p>日本語</p>
            </div>
            <div class="widget-item">
                <h2>TOEIC 935</h2>
                <p>英語</p>
            </div>
            <div class="widget-item">
                <h2>NATIVE</h2>
                <p>中国語</p>
            </div>
        </div>
    </header>
    <!-- End of Page Header -->

    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="../static/assets/imgs/avatar.gif" alt="avatar" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">鄧　潤希（トウ　ジュンキ）</h6>
                    <p class="subtitle">ソフトウェア開発エンジニア</p>
                    <p>
                        パンダの故郷、四川省出身で、現在は東京に住んでいます。<br>
                        好きな食べ物はマックフルーリーと豚カツです。<br>
                        日本語、英語、中国語が話せます。<br>
                        趣味は写真、散歩です。<br>
                        大学の専攻は工業デザインで、オンライン英語教育と広告代理店での職務経験があります。
                    </p>
                    <br>
                    <h6 class="title">RUNXI(JUNKI) DENG </h6>
                    <p class="subtitle">Software Development Engineer</p>
                    <p>
                        From the hometown of pandas, Sichuan Province, and currently living in Tokyo.<br>
                        Crazy about McFlurry and tonkatsu the most.<br>
                        A speaker of Japanese, English, and Mandarin.<br>
                        Fond of photography, and walking.<br>
                        A graduate with a major in industrial design and has experience working in online English
                        education and advertising agencies.
                    </p>
                    <br>
                    <h6 class="title">鄧　潤希</h6>
                    <p class="subtitle">軟體開發工程師</p>
                    <p>
                        來自熊貓的故鄉四川省，目前居住在東京。最喜歡的食物是麥旋風和豬排。<br>
                        會說日語、英語和中文。愛好是攝影、散步。<br>
                        大學專業是工業設計，擁有在線英語教育和廣告代理工作的經驗。<br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- CS & Development Section -->
    <section id="cs" class="section">
        <div class="container text-center">
            <h6 class="subtitle">CS & Development</h6>
            <h6 class="section-title mb-4">コンピュータサイエンスと開発</h6>

            <p class="mb-5 pb-4">
                2022年（3月～12月）、コンピュータサイエンスの基礎コースを体系的に学びました：<br>
                コンピュータ構成原理、オペレーティングシステム、コンピュータネットワーク、データ構造など<br>
                <br>
                それ以降、以下のように様々な開発の探索と学習も行いました：
            </p>

            <!-- todo list -->
            <div class="container-fluid px-0">
                <div>
                    <h5>Typescript + React</h5>
                    <h6 class="subtitle">2024年11月～2025年1月</h6>
                    <br>
                    <p>
                        <a target="_blank" href="https://github.com/Junki00/TodoListApp">TodoList アプリケーション</a>
                    </p>
                    <iframe src="/index.html" frameborder="0" width="100%" height="790px"></iframe>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <!-- message -->
            <div class=" container-fluid px-0">
                <h5>Python + Flask</h5>
                <h6 class="subtitle">2024年7月～2024年10月</h6>
                <br>
                <p>
                    <a target="_blank" href="https://github.com/Junki00/watchlist">メッセージ掲示板</a>
                    <br>
                    管理者ログイン機能を作成しました。<br>
                    ログイン後、メッセージを削除することが可能
                </p>
                <p><a target="_blank" href="http://www.junki.one/messages">こちらもアクセスできます</a></p>
                <!-- new message board  -->
                <iframe class="message" src="/messages" frameborder="0" mad-width="100%" width="100%" height="790px"
                    border="none"></iframe>
                <br>
                <br>
                <br>
            </div>

            <!-- swift -->
            <div class="container-fluid px-0">
                <h5>Swift</h5>
                <h6 class="subtitle">2023年12月～2024年3月</h6>
                <br>
                <p>
                    昼食を決めるアプリ<br>
                    <a target="_blank" href="https://www.behance.net/gallery/217448233/FoodPicker">
                        さらに詳しく</a>
                </p>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="img-wrapper h-100 mb-0 d-flex">
                            <img src="../static/assets/imgs/cs/iPadPro11inch+ iPhone15Pro.png" alt="/"
                                style="height: 100%; width: 100%; object-fit: cover; margin-right: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of CS & Development Section -->

    <!-- Industrial Design Section -->
    <section id="design" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Industrial Design</h6>
            <h6 class="section-title mb-4">工業デザイン</h6>
            <p class="mb-5 pb-4">
                <a target="_blank"
                    href="https://en.wikipedia.org/wiki/Sichuan_University">四川大学</a>での工業デザインを通じて、前半2年間で数学や物理、C言語などの基礎を学び、<br>
                後半2年間ではデザインプロジェクトに取り組みました。
            </p>

            <div class="row text-left">
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <iframe src="https://www.behance.net/embed/project/217324517?ilo0=1" height="316" width="404"
                            allowfullscreen lazyload frameborder="0" allow="clipboard-write"
                            refererPolicy="strict-origin-when-cross-origin"></iframe>

                        <div class="card-body">
                            <h5 class="card-title">組み立て式ドローン</h5>
                            <div class="post-details">
                                <h6>2017年</h6>
                            </div>
                            <p>
                                取り外し可能で、収納に便利で、余分なスペースを取りません。<br>
                                多機能で、カメラ部分は単独でウェブカメラとして使用可能です。<br>
                            </p>
                            <a target="_blank"
                                href="https://www.behance.net/gallery/217324517/Assembled-Drone-NIRVANA-ER">
                                さらに詳しく
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border mb-4">
                        <iframe src="https://www.behance.net/embed/project/217475243?ilo0=1" height="316" width="404"
                            allowfullscreen lazyload frameborder="0" allow="clipboard-write"
                            refererPolicy="strict-origin-when-cross-origin"></iframe>

                        <div class="card-body">
                            <h5 class="card-title">ユースホステルの VI デザイン</h5>
                            <div class="post-details">
                                <h6>2015年</h6>
                            </div>
                            <p>
                                ロゴのデザインに加えて、手提げ袋、封筒、便箋、絵葉書のトータルデザインも手がけました。<br>
                                実用性とビジュアルの調和を追求しました。
                            </p>
                            <a target="_blank"
                                href="https://www.behance.net/gallery/217475243/A-visual-identity-design-project-for-a-youth-hostel">
                                さらに詳しく
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border mb-4">
                        <iframe src="https://www.behance.net/embed/project/217475585?ilo0=1" height="316" width="404"
                            allowfullscreen lazyload frameborder="0" allow="clipboard-write"
                            refererPolicy="strict-origin-when-cross-origin"></iframe>

                        <div class="card-body">
                            <h5 class="card-title">ネック・シャンデリア：地形美学</h5>
                            <div class="post-details">
                                <h6>2015年</h6>
                            </div>
                            <p>
                                地理の等高線は、理性の豊かさと視覚的な衝撃が美学として際立っています。<br>
                                このインスピレーションを元に制作された立体的なシャンデリアです。
                            </p>
                            <a target="_blank" href="https://www.behance.net/gallery/217475585/The-Nek-Chandelier">
                                さらに詳しく
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Design section -->

    <!-- Graphic Design Section -->
    <section id="graphic" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Graphic Design</h6>
            <h6 class="section-title mb-4">グラフィックデザイン</h6>
            <p class="mb-5 pb-4">

                大学在学中に、キヤノン成都支店、電子音楽クラブ、および西洋料理店などのグラフィックデザイン作品を制作しました。<br>
                <br>
                独学でPhotoShopを習得し、工業デザインのモデリングとレンダリングスキルを活用して、<br>
                より視覚的にインパクトのあるポスターを作成しました。<br>
                <br>
                <a target="_blank" href="https://www.behance.net/runxideng">
                    作品をさらに詳しく
                </a>
            </p>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Poster for A Forum</p>
                                <img src="../static/assets/imgs/graphics/EVENT_1.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Video Poster for Valentine's Day</p>
                                <video controls src="../static/assets/imgs/graphics/PARTY_3.mp4"></video>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Poster for A Speech</p>
                                <img src="../static/assets/imgs/graphics/EVENT_2.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Poster for A Dance Party: the ball built by modeling and rendering</p>
                                <img src="../static/assets/imgs/graphics/PARTY_1.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Poster for Halloween</p>
                                <img src="../static/assets/imgs/graphics/PARTY_2.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card graphic-card border">
                            <div class="card-body">
                                <p>Video Poster for A Dance Party</p>
                                <video controls src="../static/assets/imgs/graphics/PARTY_4.mp4"></video>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>
    <!-- End of Graphic Design Section -->

    <!-- Photography　Portfolio section -->
    <section id="photography" class="section">
        <div class="container text-center photo-wall">
            <h6 class="subtitle">Photography Works</h6>
            <h6 class="section-title mb-4">写真</h6>
            <p class="mb-5 pb-4">
                写真に対する興味は10年以上あり、フィルムカメラ、デジタルカメラ、スマートフォンを使って撮影を行っています。<br>
                最も好きなスタイルは、ポートレート写真と面白い瞬間を捉えたストリートフォトです。<br>
                <br>
                以下は一部のフィルム写真作品で、ご覧ください。
            </p>

            <!-- XINJIANG Group -->
            <h5 class="text-center mb-4">
                <a target="_blank" href="https://www.behance.net/gallery/217442079/Traveling-XINJIANG-with-Films">
                    ウイグルの楽園を Through the Uyghur Heaven
                </a>
            </h5>
            <div class="row mb-5">
                <!-- 左側の小さな画像2枚 (4/12) -->
                <div class="col-md-4 d-flex flex-column justify-content-between" style="padding-right: 0;">
                    <div class="img-wrapper">
                        <img src="../static/assets/imgs/filmphotos/XINJIANG_2.jpeg" alt="/">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>カシュガルの伝統的な茶館</h6>
                                <a target="_blank"
                                    href="https://www.behance.net/gallery/217442079/Through-the-Uyghur-Heaven/modules/1239162283">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank"
                                    href="https://ja.wikipedia.org/wiki/%E3%82%AB%E3%82%B7%E3%83%A5%E3%82%AC%E3%83%AB%E5%B8%82">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="img-wrapper mb-0">
                        <img src="../static/assets/imgs/filmphotos/XINJIANG_3.jpeg" alt="/">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>タシュクルガン、馬に乗るタジク族の少年</h6>
                                <a target="_blank"
                                    href="https://www.behance.net/gallery/217442079/Through-the-Uyghur-Heaven/modules/1238650467">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank" href="https://ja.wikipedia.org/wiki/タシュクルガン・タジク自治県">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右側の大きな画像 (8/12) -->
                <div class="col-md-8">
                    <div class="img-wrapper h-100 mb-0">
                        <img src="../static/assets/imgs/filmphotos/XINJIANG_1.jpeg" alt="/" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>新疆北部のラベンダー畑</h6>
                                <a target="_blank"
                                    href="https://www.behance.net/gallery/217442079/Through-the-Uyghur-Heaven/modules/1238650469">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank"
                                    href="https://ja.wikipedia.org/wiki/%E6%96%B0%E7%96%86%E3%82%A6%E3%82%A4%E3%82%B0%E3%83%AB%E8%87%AA%E6%B2%BB%E5%8C%BA">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- SUMMER Group -->
            <h5 class="text-center mb-4">
                <a target="_blank" href="https://www.behance.net/gallery/217442207/That-Summer">
                    夏、輝いていた私たち We Were Radiant: Summer 2020
                </a>
            </h5>
            <div class="row">
                <!-- 右側の大きな画像 (8/12) -->
                <div class="col-md-8">
                    <div class="img-wrapper h-100 mb-0">
                        <img src="../static/assets/imgs/filmphotos/SUMMER_1.jpeg" alt="/"
                            style="height: 100%; object-fit: cover;">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>2020年夏、広東省のプール</h6>
                                <a target="_blank" href="https://www.behance.net/gallery/217448233/FoodPicker">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank" href="https://www.behance.net/gallery/217442207/That-Summer">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 左側の小さな画像2枚 (4/12) -->
                <div class="col-md-4 d-flex flex-column justify-content-between" style="padding-right: 0;">
                    <div class="img-wrapper">
                        <img src="../static/assets/imgs/filmphotos/SUMMER_2.jpeg" alt="/">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>2019年夏、四川省の民宿</h6>
                                <a target="_blank"
                                    href="https://www.behance.net/gallery/217442207/We-Were-Radiant-Summer-2020/modules/1238651285">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank"
                                    href="https://www.google.com/search?q=%E6%98%8E%E6%9C%88%E6%9D%91&oq=%E6%98%8E%E6%9C%88%E6%9D%91&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiPAjIHCAIQABiPAtIBCDU5NDhqMGoxqAIAsAIA&sourceid=chrome&ie=UTF-8">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper mb-0">
                        <img src="../static/assets/imgs/filmphotos/SUMMER_3.jpeg" alt="/">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h6>2020年夏、北京の堀</h6>
                                <a target="_blank"
                                    href="https://www.behance.net/gallery/217442207/We-Were-Radiant-Summer-2020/modules/1238651283">
                                    <i class="ti-zoom-in"></i>
                                </a>
                                <a target="_blank"
                                    href="https://www.google.com/search?q=%E5%8C%97%E4%BA%AC%E3%81%AE%E5%A0%80&oq=%E5%8C%97%E4%BA%AC%E3%81%AE%E5%A0%80&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBBzY2NmowajGoAgCwAgA&sourceid=chrome&ie=UTF-8">
                                    <i class="ti-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of photography portfolio section -->

    <!-- Experiences Section -->
    <section id="experience" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Experiences</h6>
            <h6 class="section-title mb-4">過去経歴</h6>
            <p class="mb-5 pb-4">教育系ユニコーン企業での英語教育事業における実績と、広告代理店でのグローバルブランド向け PR 経験を持つ三カ国語話者です。<br>現在は IT
                分野でのキャリアを目指し、実践的なプログラミング経験を積んでいます。</p>

            <div class="row">
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-ruler-pencil"></i>
                            <h5>工業デザイン<br>グラフィックデザイン</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-desktop"></i>
                            <h5>ウェブサイト<br>エンジニアリング</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-video-camera"></i>
                            <h5>PR、メディアと<br>マーケッティング</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-world"></i>
                            <h5>英語教育経験と<br>
                                日英中の言語運用</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Experiences　Section -->

    <!-- Skills section -->
    <section class="section">
        <div class="container text-center">
            <h6 class="subtitle">Skills</h6>
            <h6 class="section-title mb-4">粘り強く習得してる能力</h6>
            <p class="mb-5 pb-4">
                私は、技術への探究心と継続力を持ってる人間です。<br>
                Pythonの自己学習をきっかけに「論理的に考え、問題を解決する楽しさ」に気づき、エンジニアを志しました。<br>

                <br>

                2022年からはデータ構造やアルゴリズムの基礎を学び、iOSアプリやFlaskやReactを用いたアプリの開発にも挑戦し、<br>
                LeetCodeやAtCoderやPaizaでの練習を重ねることで、開発プロセスへの理解を深めています。<br>

                <br>

                また、大学では工業デザインを専攻し、デザインプロセスやユーザー視点の重要性を学びました。<br>
                この経験が、ユーザーフレンドリーなプロダクトの開発に役立っています。<br>

                <br>

                社会人経験で培った英語・中国語スキルを活かし、価値あるプロダクトの開発ができるエンジニアを目指しています。
            </p>

            <div class="row text-left">
                <div class="col-sm-6">
                    <h6 class="mb-3">Typescript + React</h6>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"><span>89%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Python + Flask</h6>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"><span>83%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">PhotoShop + Rhinos + Keyshot</h6>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"><span>95%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">IT Basic Skills and knowledge</h6>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Skills sections -->

    <!-- Hire me section -->
    <section class="bg-gray p-0 section">
        <div class="container">
            <div class="card bg-primary">
                <div class="card-body text-light">
                    <div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">もしサポートが必要であれば、</h5>
                            <p class="mb-3">ぜひご連絡ください！</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <a href="../static/assets/cv/RUNXI DENG (JUNKI).zip" download>
                                <button class="btn btn-light rounded">書類をダウンロード</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End od Hire me section. -->

    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">潤希にご連絡ください</h6>
            <p class="mb-5 pb-4">お問い合わせいただきましたメッセージは、<br>拝受後、迅速に対応させていただきます。<br>
                <br>お気軽にご連絡くださいませ。<br>
                <br>可能な限り、電子メールでのご連絡をお願いいたします。
            </p>

            <div class="contact text-left">
                <div class="form">
                    <h6 class="section-title mb-4">お問い合わせ</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="あなたのメールアドレス">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="お名前">
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="5" class="form-control"
                                placeholder="メッセージ内容（申し訳ありませんが、現在バックエンドが設定されていないため、このフォーム機能は利用できません。junki122623@gmail.comにお願いします。）"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded w-lg">送信</button>
                    </form>
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Location</h5>
                            <p>日本　東京都　江戸川区</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>(+81) 80-3604-8964</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p>junki122623@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19442.820302656518!2d139.76682445!3d35.6812362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1648538736711!5m2!1sja!2sjp"></iframe>
        </div>
    </section>
    <!-- End of Contact Section -->

    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>Based on Copyright
                        <script>document.write(new Date().getFullYear())</script> &copy; <a
                            href="http://www.devcrud.com" target="_blank">DevCRUD</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="socials">
                        <a class="social-item" target="_blank" href="https://www.linkedin.com/in/junki2023"><i
                                class="ti-linkedin"></i></a>
                        <a class="social-item" target="_blank" href="https://github.com/Junki00/watchlist"><i
                                class="ti-github"></i></a>
                        <a class="social-item" target="_blank" href="https://x.com/uruoikibou"><i
                                class="ti-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of page footer -->


    <!-- core  -->
    <script src="../static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
    <script src="../static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- steller js -->
    <script src="../static/assets/js/steller.js"></script>

</body>

</html>