body {
    margin: 0 auto; /* 使页面水平居中 */
    max-width: 580px; /* 限制最大宽度 */
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center; /* 将所有文本、图片等居中 */
}

.无人机展板, .公众号动图 {
    display: block;
    margin: 20px auto; /* 让图片水平居中，并且增加一些间距 */
    height: auto; /* 让图片自动适应高度 */
    max-width: 100%; /* 让图片不超过父容器的宽度 */
}

.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
    text-align: left; /* 保持列表项左对齐，但可以根据需要改为居中 */
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
