<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something about {{ user.name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% if request.endpoint == 'industrial' %}
        <h1>Something about {{ user.name }}'s Industrial Designs</h1>
    {% elif request.endpoint == 'index' %}
        <h1>Something about {{ user.name }}</h1>
    {% elif request.endpoint == 'graphics' %}
        <h1>Something about {{ user.name }}'s Graphic Designs</h1>
    {% else %}
        <h1>Something about {{ user.name }}'s Others</h1>
    {% endif %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Hi!</a></li>
            <li><a href="{{ url_for('graphics') }}">Graphic Designs</a></li>
            <li><a href="{{ url_for('industrial') }}">Industrial Designs</a></li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Photography</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('filmphotos') }}">by Film</a></li>
                    <li><a href="{{ url_for('iphonephotos') }}">by iPhone</a></li>
                    <li><a href="{{ url_for('cameraphotos') }}">by Digital</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <p>Please feel free to get in touch with me directly via E-mail at junki122623@gmail.com</p>
            <p>by Junki-D in Tokyo, Japan.</p>
            <a href="https://github.com/Junki00"><img alt="GitHub Link" class="social_media_logos" src="{{ url_for('static', filename='images/icons8-github-100.png') }}"></a>
            <a href="https://www.linkedin.com/in/junki-deng-466901324"><img alt="LinkedIn Link" class="social_media_logos" src="{{ url_for('static', filename='images/icons8-linkedin-100.png') }}"></a>
        </small>
    </footer>
</body>
</html>