<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something about {{ user.name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>Something about {{ user.name }}</h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Hi!</a></li>
            <li><a href="{{ url_for('graphics') }}">Graphic Designs</a></li>
            <li><a href="{{ url_for('industrial') }}">Industrial Designs</a></li>
            <li><a href="{{ url_for('filmphotos') }}">Film Photography</a></li>
            <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <img alt="Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}"><br>
        <small>
            <a href="https://github.com/Junki00">GitHub</a><br>
            <a href="https://www.linkedin.com/in/junki-deng-466901324">LinkedIn</a>
        </small>
    </footer>
</body>
</html>