{% extends 'base.html' %}

{% block content %}
<h3>camera creating someting.</h3>
<img src="/static/images/cameraphotos/Guangxi.jpeg" alt="Guilin, Guangxi" class="static_pics_shadow">
<img src="/static/images/cameraphotos/Songpan.jpeg" alt="Songpan, Sichuan" class="static_pics_shadow">
<img src="/static/images/cameraphotos/Leshan.jpeg" alt="Leshan, Sichuan" class="static_pics_shadow">
<img src="/static/images/cameraphotos/Chengdu.jpeg" alt="Chengdu, Sichuan" class="static_pics_shadow">
<img src="/static/images/cameraphotos/Philippine.jpeg" alt="Legaspy, Philippine" class="static_pics_shadow">
{% endblock %}