{% extends 'base.html' %}

{% block content %}
<h3>Camera: <a href="https://en.wikipedia.org/wiki/Olympus_XA">Olympus XA</a></h3>
<img src="/static/images/filmphotos/0.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/1.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/2.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/3.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/4.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/5.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/6.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/7.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/8.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
<img src="/static/images/filmphotos/9.jpeg" alt="{{ user.name }}'s Film Photography" class="static_pics_shadow">
{% endblock %}
