{% extends 'base.html' %}

{% block content %}
<h3>Tools: <a href="https://en.wikipedia.org/wiki/Adobe_Photoshop">Adobe PhotoShop</a>, <a href="https://en.wikipedia.org/wiki/Rhinoceros">Rhinoceros</a>, <a href="https://en.wikipedia.org/wiki/Keyshot">KeyShot</a> and so on.</h3>
<img src="/static/images/graphics/0.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadowless">
<img src="/static/images/graphics/1.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/2.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/3.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/4.mp4" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/5.mp4" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/6.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<img src="/static/images/graphics/7.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
{% endblock %}
