{% extends 'base.html' %}

{% block content %}
<p>
    大学在学中に、キヤノン成都支店、電子音楽クラブ、および西洋料理店のグラフィックデザイン作品を制作しました。
</p>
<p>
    独学でPhotoShopを習得し、工業デザインのモデリングとレンダリングスキルを活用して、より視覚的にインパクトのあるポスターを作成しました。
</p>
<p>
    During my university, I designed graphic works for Canon's Chengdu branch, an electronic music club, and a Western restaurant.
</p>
<p>
    I taught myself how to use Photoshop and utilized modeling and rendering skills from industrial design to create more visually impactful posters.
</p>
<br>
<img src="/static/images/graphics/0.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadowless">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/1.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/2.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/3.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/4.mp4" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/5.mp4" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/6.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<img src="/static/images/graphics/7.jpeg" alt="{{ user.name }}'s Graphic Designs" class="static_pics_shadow">
{% endblock %}
