{% extends 'base.html' %}

{% block content %}
<p>
    <a href="#japanese">日本語</a><br>
    <a href="#english">English</a><br>
    <a href="#chinese_simplified">简体中文</a><br>
    <a href="#chinese_traditional">繁體中文</a><br>
    <a href="#junki">潤希と海 / Junki and Sea</a>
</p>
<h2 id="japanese">サイト紹介</h2>
<h4>Q: このサイトは何ですか？</h4>
<p>本サイトでは、私がデザインや写真の分野で制作した作品を展示しています。</p>
<p>工業デザインの専攻、グラフィックデザインのアルバイト、そして個人的な趣味を通じて蓄積した成果を含んでいます。</p>
<br>
<h4>Q: サイトの機能は？</h4>
<p>すべての訪問者は<a href="{{ url_for('messages') }}">メッセージ</a>を残すことができ、あなたのメッセージは全世界に公開されます。</p>
<p><a href="{{ url_for('login') }}">ログイン</a>機能があり、ログインしている状態であれば、メッセージの削除やハンドルネームの変更が可能です。</p>
<p>
    体験したい場合は、以下を使用してログインしてください：
    <ul>
        <li>ユーザーネーム：junki</li>
        <li>パスワード：123</li>
    </ul>
</p>
<br>
<h4>Q: 潤希（ジュンキ）は</h4>
<p>パンダの故郷、四川省出身で、現在は東京に住んでいます。</p>
<p>好きな食べ物はマックフルーリーと豚カツです。</p>
<p>日本語、英語、中国語が話せます。</p>
<p>趣味は写真、外国語でのおしゃべり、散歩です。</p>
<p>大学の専攻は工業デザインで、オンライン英語教育と広告代理店での職務経験があります。</p>
<p>ありがどうございます。</p>
<br>
<br>
<hr>
<br>
<br>
<h2 id="english">Website Introduction</h2>
<h4>Q: What is this website?</h4>
<p>This website showcases my works in the fields of design and photography。</p>
<p>I have accumulated during my specialization in industrial design, part-time graphic design jobs, and personal interests.</p>
<br>
<h4>Q: How about website features?</h4>
<p>All visitors can leave <a href="{{ url_for('messages') }}">messages</a>, and your messages will be displayed to the entire world.
<p>The website supports a <a href="{{ url_for('login') }}">login</a> feature; while logged in, you will have the permissions to delete messages and modify your handle name.</p>
<p>
    Wanna have a try? Please use the followings to log in:
    <ul>
        <li>Username: junki</li>
        <li>Password: 123</li>
    </ul>
</p>
<br>
<h4>Q: Junki is...</h4>
<p>from the hometown of pandas, Sichuan Province, and currently living in Tokyo.</p>
<p>crazy about McFlurry and tonkatsu the most.</p>
<p>a speaker of Japanese, English, and Mandarin.</p>
<p>fond of photography, making small talk with foreigners, and walking.</p>
<p>A graduate with a major in industrial design and has experience working in online English education and advertising agencies.</p>
<p>Thanks a lot.</p>
<br>
<br>
<hr>
<br>
<br>
<h2 id="chinese_simplified">网站介绍</h2>
<h4>Q: 这个网站是什么？</h4>
<p>本网站展示了我在设计和摄影领域创作的作品。</p>
<p>这些作品是我在工业设计专业学习期间、平面设计兼职工作以及个人兴趣爱好中积累的成果。</p>
<br>
<h4>Q: 网站有哪些功能？</h4>
<p>所有访问者都可以<a href="{{ url_for('messages') }}">留言</a>，您的留言将向全世界公开显示。</p>
<p>网站支持<a href="{{ url_for('login') }}">登录</a>功能，登录后，您可以删除留言或修改用户名。</p>
<p>
    想要体验一下吗？请使用以下信息登录：
    <ul>
        <li>用户名：junki</li>
        <li>密码：123</li>
    </ul>
</p>
<br>
<h4>Q: 关于润希</h4>
<p>他来自熊猫的故乡四川省，目前居住在东京。</p>
<p>他最喜欢的食物是麦旋风和猪排。</p>
<p>他会说日语、英语和中文。</p>
<p>他的爱好是摄影、用外语和老外瞎聊以及散步。</p>
<p>他大学专业是工业设计，拥有在线英语教育和广告代理工作的经验。</p>
<p>非常感谢。</p>
<br>
<br>
<hr>
<br>
<br>
<h2 id="chinese_traditional">網站介紹</h2>
<h4>Q: 這個網站是什麼？</h4>
<p>本網站展示了我在設計和攝影領域創作的作品。</p>
<p>這些作品是我在工業設計專業學習期間、平面設計兼職工作以及個人興趣中積累的成果。</p>
<br>
<h4>Q: 網站有哪些功能？</h4>
<p>所有訪問者都可以<a href="{{ url_for('messages') }}">留言</a>，您的留言將向全世界公開顯示。</p>
<p>網站支持<a href="{{ url_for('login') }}">登入</a>功能，登入後，您可以刪除留言或修改用戶名。</p>
<p>
    想體驗一下嗎？請使用以下信息登入：
    <ul>
        <li>用戶名：junki</li>
        <li>密碼：123</li>
    </ul>
</p>
<br>
<h4>Q: 關於潤希</h4>
<p>他來自熊貓的故鄉四川省，目前居住在東京。</p>
<p>他最喜歡的食物是麥旋風和豬排。</p>
<p>他會說日語、英語和中文。</p>
<p>他的愛好是攝影、用外語閒聊以及散步。</p>
<p>他大學專業是工業設計，擁有在線英語教育和廣告代理工作的經驗。</p>
<p>非常感謝。</p>
<br>
<br>
<hr>
<br>
<br>
<h2>潤希です / This is Junki</h2>
<img id="junki"　src="/static/images/me.gif" alt="Junki" class="static_pics_shadowless">
<!-- 

for WATCHLIST

{% if current_user.is_authenticated %}
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Year <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

{% endif %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
        {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
-->
{% endblock %}

