{% extends 'base.html' %}

{% block content %}
<h3>I cultivated my design expertise through Industrial Design during college.</h3>
<p><b>NIRVANA-ER</b><br>
    an assembled drone project<br>
    won second prize in the Universities Industrial Design Competition of Sichuan.</p>
<img src="/static/images/industrial/0.jpeg" alt="{{ user.name }}'s Industrial Designs" class="filmphotos">
<img src="/static/images/industrial/1.jpeg" alt="{{ user.name }}'s Industrial Designs" class="filmphotos">
<br>
<hr>
<br>
<p><b>The Nek Chandelier</b><br>
    a lighting design inspired by geographical contour lines.</p>
<img src="/static/images/industrial/2.jpeg" alt="{{ user.name }}'s Industrial Designs" class="filmphotos">
<br>
<hr>
<br>
<p><b>Visual Identity Design Project</b><br>
    for a youth hostel.</p>
<img src="/static/images/industrial/3.jpeg" alt="{{ user.name }}'s Industrial Designs" class="filmphotos">
<br>
<hr>
<br>
<p><b>Web Design Assignment</b><br>
    targeting Gen Z youth interested in fashion photography and lifestyle.</p>
<img src="/static/images/industrial/4.jpeg" alt="{{ user.name }}'s Industrial Designs" class="filmphotos">
{% endblock %}
