{% extends 'base.html' %}

{% block content %}
<h3>
    大学での工業デザインを通じて、デザインの専門知識を培いました。<br>
    I cultivated my design expertise through Industrial Design during college.
</h3>
<br>
<p><b>NIRVANA-ER</b></p>
<p>
    組み立て式ドローンプロジェクト<br>
    四川省大学工業デザインコンペティションで2位を受賞<br>
    An assembled drone project<br>
    Won second prize in the Universities Industrial Design Competition of Sichuan
</p>
<img src="/static/images/industrial/0.jpeg" alt="{{ user.name }}'s Industrial Designs" class="static_pics_shadow">
<img src="/static/images/industrial/1.jpeg" alt="{{ user.name }}'s Industrial Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<p><b>The Nek Chandelier</b></p>
<p>
    地形の等高線からインスピレーションを得た照明デザイン<br>
    A lighting design inspired by geographical contour lines
</p>
<img src="/static/images/industrial/2.jpeg" alt="{{ user.name }}'s Industrial Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<p><b>Pursue Le</b></p>
<p>
    ユースホステル向けのビジュアルアイデンティティデザインプロジェクト<br>
    A visual identity design project for a youth hostel
</p>
<img src="/static/images/industrial/3.jpeg" alt="{{ user.name }}'s Industrial Designs" class="static_pics_shadow">
<br>
<br>
<hr>
<br>
<br>
<p><b>QUARKNUTS</b>
<P>
    写真とライフスタイルに興味を持つZ世代を対象としたウェブデザイン課題<br>
    A web design assignment targeting Gen Z youth interested in photography and lifestyle
</p>
<img src="/static/images/industrial/4.jpeg" alt="{{ user.name }}'s Industrial Designs" class="static_pics_shadow">
{% endblock %}
