{% extends 'base.html' %}

{% block content %}
<h3>iphone recording life.</h3>
<img src="/static/images/iphonephotos/Philippine.jpeg" alt="Philippine" class="static_pics_shadow">
<img src="/static/images/iphonephotos/Beijing.jpeg" alt="Beijing" class="static_pics_shadow">
<img src="/static/images/iphonephotos/Guangzhou.jpeg" alt="Guangzhou" class="static_pics_shadow">
<img src="/static/images/iphonephotos/Tokyo.jpeg" alt="Tokyo" class="static_pics_shadow">
<img src="/static/images/iphonephotos/Chengdu.jpeg" alt="Chengdu" class="static_pics_shadow">
{% endblock %}
